.answerPageContainer{
    display: flex;
    height: 100%
}

.content-column{
    flex-grow:2
}
.right-column{
    flex-grow:1;
    max-width:250px
}
@media only screen and (max-width: 800px) {
    .answerPageContainer{
        flex-direction: column;
    }
    .right-column{
        max-width:none
    }
}