.baseDiv{
   display: flex;
   flex-direction: row;
   height: 100vh;
   overflow:hidden
}

.buttonBar{
    width: 400px; 
    padding-top: 110px; 
    box-shadow: rgba(0, 0, 0, 0.54) 0px 3px 8px;
}

.contentBar{
   padding-top: 60px ;
   width: 100% ;
   overflow: auto;
}

@media only screen and (max-width: 900px) {
    .buttonBar {
        display: none;
    }
}